@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    color: #333333;
}

.text-side h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -0.035em;
}

.text-side p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    margin-top: 30px;
    margin-bottom: 40px;
}

.text-side button {
    background-color: #333333;
    border: none;
    width: 216px;
    height: 68px;
    color: white;
    font-weight: 700;
}

h3 {
    padding-top: 25px;
    margin-left: 55px;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Inconsolata', monospace;
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    
}

.img-side {
    width: 100%;
    padding-left: 60px;
}

.img-side img {
    width: 450px;
}

.text-side {
    width: 100%;
    padding-right: 60px;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    color: #BDBDBD;
    text-align: center;
    font-size: 14px;
    padding-bottom: 20px;
}


@media (max-width: 414px) {
    body {
        box-sizing: border-box;
    }
    h3 {
        font-size: 18px;
        margin-left: 20px;
        padding-top: 15px;
    }
    section {
        box-sizing: border-box;
        display: block;
        margin-top: 70px;
    }
    .img-side {
        padding-left: 30px;
    }
    .img-side img {
        width: 287px;
        height: 238px;
        margin-left: 35px;
    }
    .text-side {
        box-sizing: border-box;
        margin-top: 60px;
        margin-left: 20px;
        margin-bottom: 60px;
    }
    .text-side h1 {
        font-size: 48px;
        line-height: 60px;
        font-weight: 700;
        letter-spacing: -0.035em;
    }
    .text-side p {
        margin-right: 20px;
        font-size: 18px;
    }
}